.footer{
    background-color: rgba(17, 17, 168, 0.781);
}
.footer .container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding:30px
}
.logo{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-between;
    padding:0 40px;
    color:white;
}
